h2{
	text-align: center;
}

header{
	background-color: #813DE6;
	height: 8em;
}





#col1{
	background-color: #972852;
	height: 40em;
}

#col2{
	background-color: #289769;
	height: 40em
}

#col3{
	background-color: #23750C;
	height: 40em;
}

.cols{
	margin-top: 5em;
	margin-bottom: 5em;
}