.cabecera{
	text-align: center;
}



#ajustar{
	margin-top: 2em;
}

#ajustar2{
	margin-top: 3em;
}

#desplazar{
	margin-top: 3em;
	margin-left: 9em;
}

a{
	color: #fff;
	text-decoration: underline;
}

input{
	margin-top: 2em;
}


.texto-principal  h1{
	font-size: 45px; 
	color:#ffffff; 
	font-family:Comic Sans MS, Charcoal, sans-serif; 
	text-align:left;
	padding-top:5px;
}
.texto-pasos {
	color:#ffffff;
}
.empresa{
	background: #ffff00;
	box-shadow: -4px 0 2px -2px rgba(0,0,0,0.4)
}

.centered{
    text-align:center;
}


body{
	background: no-repeat center center fixed;
	background-image: linear-gradient(180deg, #5F75AD, #41C1C1);
	background-size: cover !important ;
	width: 100%;
	height: 100%;

}


section{
	height: 39.9em;
}

img{
	margin-left: 27%;
	margin-top: 15%;
}

