.cabecera{
	text-align: center;
}

.texto-principal  h1{font-size: 45px; color:#ffffff; font-family:Impact, Charcoal, sans-serif; text-align:left; padding-top:5px;}
.texto-pasos {color:#ffffff;}
.empresa{background: #ffff00;
box-shadow: -4px 0 2px -2px rgba(0,0,0,0.4)

}


body{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e689a+0,7ec8e8+89&1+0,1+93,0.7+98,0+100 */
background: -moz-linear-gradient(top, rgba(30,104,154,1) 0%, rgba(126,200,232,1) 89%, rgba(126,200,232,1) 93%, rgba(126,200,232,0.7) 98%, rgba(126,200,232,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(30,104,154,1) 0%,rgba(126,200,232,1) 89%,rgba(126,200,232,1) 93%,rgba(126,200,232,0.7) 98%,rgba(126,200,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(30,104,154,1) 0%,rgba(126,200,232,1) 89%,rgba(126,200,232,1) 93%,rgba(126,200,232,0.7) 98%,rgba(126,200,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e689a', endColorstr='#007ec8e8',GradientType=0 ); /* IE6-9 */
	height: 100%;
	width: 100%;
	margin: 0;
	background-size: cover;

}


section{
	height: 45.9em;
}

img{
	margin-left: 27%;
	margin-top: 15%;
}

